* {
  background-image: none;
  font-size: 16px;
}

@import url("./theme.css");

window {
  background-color: transparent;
}

button {
  color: @text;
  background-color: @base;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: @surface3;
  background-size: 30%;
}

button:hover {
  background-color: @surface2;
  background-size: 35%;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#lock {
  background-image: url("../../.config/wlogout/icons/lock.png");
  border-radius: 30px 0px 0px 30px;
  margin: 40px 0px 40px 40px;
}
#logout {
  background-image: url("../../.config/wlogout/icons/logout.png");
  border-radius: 0px;
  margin: 40px 0px 40px 0px;
}
#suspend {
  background-image: url("../../.config/wlogout/icons/sleep.png");
  border-radius: 0px;
  margin: 40px 0px 40px 0px;
}
#shutdown {
  background-image: url("../../.config/wlogout/icons/power.png");
  border-radius: 0px;
  margin: 40px 0px 40px 0px;
}
#hibernate {
  background-image: url("../../.config/wlogout/icons/pause.png");
  border-radius: 0px;
  margin: 40px 0px 40px 0px;
}
#reboot {
  background-image: url("../../.config/wlogout/icons/restart.png");
  border-radius: 0px 30px 30px 0px;
  margin: 40px 40px 40px 0px;
}

button:hover#lock {
  border-radius: 30px;
  margin: 20px 0px 20px 40px;
}

button:hover#logout {
  border-radius: 30px;
  margin: 20px 0px 20px 0px;
}

button:hover#suspend {
  border-radius: 30px;
  margin: 20px 0px 20px 0px;
}

button:hover#shutdown {
  border-radius: 30px;
  margin: 20px 0px 20px 0px;
}

button:hover#hibernate {
  border-radius: 30px;
  margin: 20px 0px 20px 0px;
}

button:hover#reboot {
  border-radius: 30px;
  margin: 20px 40px 20px 0px;
}
